img {
    width: 100%;
    background-size: cover;
    border-radius: 10px;
    height: 200px;
}

.card {
    background-color: rgb(244, 244, 244);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.card:hover {
    transform: scale(1.03);
}

.metadata {
    margin-top: -30px;
    margin-bottom: 10px;
}

.title {
    margin-top: 10px;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.metadata {
    font-size: 14px;
}

span:nth-child(1)::after {
    content: " -";
}
